<h2>Obrigado por confirmar sua conta no SJOOBS</h2>

<p>Nosso processo de ativação de registro passa por um processo de verificação de registro para confirmar a existência real e a atividade de todas as empresas do mercado . Para a sua empresa tenha verificado o estado e pode emitir ratings em seus colaboradores é necessário , preenchendo este formulário </p>

<p><%= link_to 'Verifique Empresa', company_verify_url(@user.id) %></p>

<p>
	<ul>
		<li> - conta de telefone mais atual ou equivalente com nome e endereço da empresa</li>
		<li> - cartão CNPJ emitido no site da Receita Federal</li>
	</ul>
</p>

<p>Agradecemos sua compreensão e colaboração. Este procedimento ajuda-nos a conferir maior segurança nas informações emitidas a sua própria empresa sobre colaboradores no mercado em nosso sistema.</p>

<p><i>SJOOBS LLC</i></p>