<h2>Obrigado por confirmar sua conta no SJOOBS</h2>

<p>Nosso processo de ativação de registro passa por um processo de verificação a fim de confirmar a real existência e a atividade de todas as empresas do mercado . Para que sua empresa tenha o status de <%= link_to 'verificada', company_verify_url(@user.id) %> e poder emitir avaliações sobre seus colaboradores é necessário o envio de alguns documentos a seguir:

 </p>

<p>
	<ul>
		<li> - Uma conta de telefone atual ou equivalente, com nome, endereço e CNPJ da empresa.</li>
		<li> -  Cartão de CNPJ emitido no site oficial da Receita Federal</li>
	</ul>
</p>

<p>Agradecemos sua compreensão e colaboração. Este procedimento ajuda-nos a conferir maior segurança nas informações emitidas a sua própria empresa sobre colaboradores no mercado em nosso sistema</p>

<p><i>SJOOBS LLC</i></p>