<h2>Obrigado por confirmar sua conta no SJOOBS</h2>

<p>Our registration activation process goes through a verification process from registration to confirm the actual existence and activity of all companies in the market. For your company has checked the status and can issue ratings on its employees is necessary by filling this form </p>

<p><%= link_to 'Verify company', company_verify_url(@user.id) %></p>

<p>
	<ul>
		<li>Most current phone bill or equivalent with company name and address </li>
		<li>CNPJ card issued on the IRS website</li>
	</ul>
</p>

<p>Thank you for your understanding and cooperation. This helps us to provide greater security in the information issued their own company employees on the market in our system.</p>

<p><i>SJOOBS LLC</i></p>