<section class="page-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">POSSO SER PROCESSADO AO EMITIR UMA INFORMAÇÃO SOBRE UM FUNCIONÁRIO?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Não. Quem transmite a informação ao público é o SJOOBS. A sua empresa apenas emite as avaliações à nossa empresa e nós a revisamos, conferimos sua veracidade, aprovamos e as disponibilizamos aos nossos usuários e portanto nos reservamos a cuidar deste processo para que não haja qualquer ofensa moral à pessoa avaliada bem como nos responsabilizamos por qualquer questionamento jurídico das mesmas no que toca ao nosso sistema.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">COMO VOU SABER SE AS INFORMAÇÕES EMITIDAS POR ALGUMA EMPRESA SOBRE ALGUM FUNCIONÁRIO É VERDADEIRA?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Para completar o processo de avaliação se faz necessário o anexo de documento de carteira de trabalho escaneada ou foto legível da folha que comprova o real vínculo com a empresa emissora da avaliação ao SJOOBS. Além disso cada CNPJ passa por um processo de checagem para conferir que há real atividade da empresa no mercado. Diferentemente de algumas redes sociais para profissionais ou pesquisas por telefone realizadas por empresas ou setores de RH da checagem de experiências anteriores de um funcionário o SJOOBS toma todas as cautelas para que somente ex-empregadores reais possam emitir as avaliações comprovadas devidamente como explicado e assume demais responsabilidades, inclusive de possíveis questionamentos jurídicos, para que o empregador se sinta livre para emitir sua real experiência quanto ao mesmo, favorecendo o incremento da qualidade dos colaboradores para toda comunidade empresarial global.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">COMO VOU SABER SE UMA AVALIAÇÃO NÃO É INJUSTA OU MESMO FRUTO DE PERSEGUIÇÃO POR MOTIVO PESSOAL COM O AVALIADO?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Como disponibilizamos pontuações e avaliações separadas por empresa, basta comparar as avaliações de outras empresas caso haja, e tirar conclusões de foro pessoal quanto a pessoa do avaliado. Por enquanto, nos reservamos apenas a oferecer informações e dar oportunidade aos empregadores de livremente e objetivamente opinõese dados quanto aos quesitos mais avaliados nos RHs do mundo inteiro mas não podemos nos responsabilizar por uma eventual falta de qualidade de um empregado ou da má gestão de um empregador ou gestor.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
