<section class="page-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">In sem justo, commodo?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">Praesent in mauris eu tortor porttitor accumsan?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo.?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">Etiam posuere quam ac?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">In sem justo, commodo?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">Praesent in mauris eu tortor porttitor accumsan?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo.?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">
            <span class="dropcap">P</span>
            <h4 class="dropcap-txt">Etiam posuere quam ac?</h4>
          </div>
          <div class="faq-answer">
            <span class="dropcap">R</span>
            <div class="dropcap-txt">
              <p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
