<section class="page-content">
  <div class="container">
    
    <h3>Planos</h3>
    <div class="row">
      <div class="pricing-table pricing-table__style2">
        <div class="col-md-3 col-md-offset-3">
          <div class="plan">
            <header class="pricing-head">
              <div class="circled">
                <div class="circled-inner">
                  <span class="price"><sup>R$</sup>&nbsp;0</span>
                  <small>por mês</small>
                </div>
              </div>
              <h3 style="width: 260px;">Grátis</h3>
            </header>
            <div class="pricing-body">
              <ul>
                <li>Cadastrar funcionários</li>
                <li>Avaliar funcionários</li>
                <li>Limitado por 30 dias</li>
                <li>Sem suporte</li>
              </ul>
            </div>
            <footer class="pricing-footer">
              <a href="#" class="btn btn-default" style="padding: 12px 65px 12px 12px;">Assinar</a>
            </footer>
          </div>
        </div>
        <div class="col-md-3">
          <div class="plan popular">
            <header class="pricing-head">
              <div class="circled">
                <div class="circled-inner">
                  <span class="price"><sup>R$</sup>&nbsp;33,30</span>
                  <small>por mês</small>
                </div>
              </div>
              <h3 style="width: 260px;">Premium</h3>
            </header>
            <div class="pricing-body">
              <ul>
                <li>Cadastrar funcionários</li>
                <li>Avaliar funcionários</li>
                <li>Acesso ilimitado</li>
                <li>Suporte</li>
              </ul>
            </div>
            <footer class="pricing-footer">
              <a href="#" class="btn btn-primary" style="padding: 12px 65px 12px 12px;">Assinar</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

